<div class="p-10">
  <app-search-bar
    [searchQuery]="query()"
    (search)="setQuery($event)"
  ></app-search-bar>

  @if (error()) {
  <p class="text-red-500">{{ error() }}</p>

  } @else if (loading()) {
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 auto-rows-fr"
  >
    @for (i of skeletonCount; track i) {
    <app-user-card-skeleton></app-user-card-skeleton>
    }
  </div>

  } @else if (filteredUsers.length === 0) {
  <div class="w-full h-screen flex items-center justify-center text-black">
    No users found
  </div>

  } @else {
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    @for (user of filteredUsers; track user._id) {
    <div
      class="bg-white rounded-xl shadow-md p-6 flex flex-col items-center text-center space-y-4"
      (click)="viewUserDetails(user._id)"
    >
      <div class="w-24 h-24 rounded-full bg-gray-100"></div>
      <div class="font-semibold text-lg">
        {{ user.username ?? "Unknown" }}
      </div>
      <div class="text-gray-600">Balance: {{ user.balance }}</div>
      <button
        class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded"
      >
        Transfer
      </button>
    </div>
    }
  </div>
  }
</div>
