
<div class="flex justify-center mt-8">
    <table class="w-[90%] md:w-4/5 lg:w-2/3 border-separate border-spacing-y-4">
      <thead>
        <tr class="text-left text-gray-600 text-sm">
          <th class="px-4 py-2">Type</th>
          <th class="px-4 py-2">Amount</th>
          <th class="px-4 py-2">From</th>
          <th class="px-4 py-2">To</th>
          <th class="px-4 py-2">Created At</th>
        </tr>
      </thead>
      <tbody>
        @for (item of transactionList; track item) {
          <tr class="bg-white shadow-md rounded-xl overflow-hidden">
            <td class="p-4 rounded-l-xl" [style.color] = "item.type | transferDeposit">{{ item.type }}</td>
            <td class="p-4">{{ item.amount }}</td>
            <td class="p-4">{{ item.from | idToUsername | async }}</td>
            <td class="p-4">{{ item.to | idToUsername | async }}</td>
            <td class="p-4 rounded-r-xl">{{ item.createdAt | date}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>