<!-- Home Skeleton Component -->
<div
  class="min-h-[calc(100vh-80px)] p-10 flex flex-col justify-center items-center space-y-10"
>
  <!-- Balance Card Skeleton -->
  <div
    class="w-full max-w-md p-6 bg-white rounded-lg shadow space-y-4 animate-pulse"
  >
    <div class="h-6 bg-gray-200 rounded w-1/3"></div>
    <div class="h-12 bg-gray-200 rounded w-1/2"></div>
  </div>

  <!-- Transaction Form Skeleton -->
  <div
    class="w-full max-w-md p-6 bg-white rounded-lg shadow space-y-6 animate-pulse"
  >
    <div class="h-6 bg-gray-200 rounded w-1/3"></div>
    <div class="h-10 bg-gray-200 rounded w-full"></div>
    <div class="h-10 bg-gray-200 rounded w-1/3"></div>
  </div>

  <!-- Deposit Link Generator Skeleton -->
  <!-- <div
    class="w-full max-w-md p-6 bg-white rounded-lg shadow space-y-4 mt-6 animate-pulse"
  >
    <div class="h-6 bg-gray-200 rounded w-1/3"></div>

    <div class="space-y-2">
      <div class="h-4 bg-gray-200 rounded w-1/4"></div>
      <div class="h-10 bg-gray-200 rounded w-full"></div>
    </div>

    <div class="h-10 bg-gray-200 rounded w-1/2"></div>

    <div class="h-5 bg-gray-200 rounded w-full"></div>
  </div> -->
</div>
