<div
  class="min-h-[calc(100vh-80px)] p-10 flex flex-col justify-center items-center space-y-10"
>
  <div class="w-full max-w-md p-6 rounded-lg shadow space-y-4">
    <div class="h-6 w-full max-w-xs rounded shimmer mx-auto"></div>
    <div class="h-12 w-full max-w-sm rounded shimmer mx-auto"></div>
  </div>

  <div class="w-full max-w-md p-6 rounded-lg shadow space-y-6">
    <div class="h-6 w-full max-w-xs rounded shimmer mx-auto"></div>
    <div class="h-10 w-full rounded shimmer"></div>
    <div class="h-10 w-full rounded shimmer"></div>
  </div>
</div>
