.pattern-bg {
  background-color: #d1ffd7;
  background-image: radial-gradient(#a6d3a0 1px, transparent 1px),
    radial-gradient(#b3ffb3 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
