@if (user()) {
<div
  class="min-h-[calc(100vh-80px)] pt-20 flex flex-col items-center justify-center bg-white text-gray-800 relative"
>
  <button
    (click)="goBack()"
    class="absolute left-4 top-4 hover:bg-gray-300 text-gray-700 px-4 py-2 rounded-xl z-10"
  >
    ← Back
  </button>

  <div class="w-full max-w-md p-8 rounded-lg shadow space-y-6">
    <div class="flex justify-center">
      <img
        [src]="user()?.image"
        alt="Profile"
        class="w-40 h-40 rounded-full object-cover shadow"
      />
    </div>

    <div class="text-center">
      <h2 class="text-2xl font-semibold">{{ user()?.username }}</h2>
    </div>

    <div class="flex justify-center">
      <button
        (click)="openTransferModal(user()?.username ?? '')"
        class="bg-green-500 hover:bg-green-600 text-white px-8 py-2 rounded"
      >
        Transfer
      </button>
    </div>
  </div>
</div>
} @else {
<app-user-details-skeleton></app-user-details-skeleton>
}
