@if (loading()) {
<app-home-skeleton></app-home-skeleton>
} @else if (error()) {
<p class="text-red-500">{{ error() }}</p>
} @else if (user()) {
<div
  class="min-h-[calc(100vh-80px)] p-10 flex flex-col justify-center items-center space-y-10"
>
  <!-- Balance card -->
  <div
    class="w-full max-w-md p-6 bg-white rounded-lg shadow text-center space-y-4"
  >
    <h2 class="text-xl font-semibold">Your available Balance :</h2>
    <p class="text-3xl font-bold text-green-500">
      KWD {{ formatBalance(user()?.balance ?? 0) }}
    </p>
  </div>

  <!-- Transaction form -->
  <div class="w-full max-w-md p-6 bg-white rounded-lg shadow space-y-6">
    <div class="flex items-center justify-center space-x-4">
      <span [class.font-bold]="!withdrawMode()">Deposit</span>
      <label class="inline-flex items-center cursor-pointer">
        <input
          type="checkbox"
          [checked]="withdrawMode()"
          (change)="toggleMode()"
          class="sr-only"
        />
        <div class="w-11 h-6 bg-gray-200 rounded-full relative">
          <div
            class="dot absolute left-1 top-1 bg-white w-4 h-4 rounded-full transition"
            [ngClass]="withdrawMode() ? 'translate-x-5' : ''"
          ></div>
        </div>
      </label>
      <span [class.font-bold]="withdrawMode()">Withdraw</span>
    </div>

    <div class="space-y-2">
      <label class="block text-gray-700 text-center mb-2">Amount</label>
      <input
        type="number"
        [(ngModel)]="amountValue"
        placeholder="Amount"
        class="border rounded px-4 py-2 w-full"
      />
    </div>

    <div class="flex justify-center">
      <button
        (click)="submit()"
        [disabled]="submitting()"
        class="bg-green-500 hover:bg-green-600 disabled:bg-gray-400 text-white px-6 py-2 rounded"
      >
        Submit
      </button>
    </div>
  </div>

  <!-- Deposit Link Generator -->
  @if(user()) {
  <div class="w-full max-w-md p-6 bg-white rounded-lg shadow space-y-4 mt-6">
    <h3 class="text-lg font-semibold">Generate Deposit Link</h3>

    <label class="block">
      <span class="text-gray-600">Amount:</span>
      <input
        type="number"
        [(ngModel)]="depositAmount"
        placeholder="Enter amount"
        class="border rounded px-4 py-2 mt-2 w-full"
      />
    </label>

    <button
      (click)="generateLink()"
      class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded"
    >
      Generate Link
    </button>

    @if(depositLink){
    <p>
      <span class="text-gray-600">Your link (click to copy):</span>
      <code
        class="bg-gray-100 px-2 py-1 block cursor-pointer hover:bg-gray-200"
        (click)="copyLink()"
      >
        {{ depositLink }}
      </code>
    </p>
    }
  </div>
  }
</div>
}
